.ccm-gallery tbody tr td p{
	text-align:center;
}
.ccm-gallery {
	margin-top: 12px;
	border: 2px solid #dedede;
	padding: 12px 0px 0px 0px;
}
.ccm-gallery tbody tr td{
	vertical-align:middle;
	text-align:center;
}
.ccm-gallery tbody tr td img{
	display:block;
	margin:auto;
	margin-bottom:10px;
	cursor:pointer;
}
